.tiptap-details-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  
  .tiptap-button-icon {
    width: 1rem;
    height: 1rem;
  }
  
  .tiptap-button-text {
    font-size: 0.875rem;
  }
}