/* =====================
     HORIZONTAL RULE
     ===================== */
.tiptap.ProseMirror {
  hr {
    border: none;
    height: 1px;
    background-color: rgba(37, 39, 45, 0.1);
  }

  .dark & hr {
    background-color: rgba(238, 238, 246, 0.11);
  }

  [data-type="horizontalRule"] {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
