/* =====================
     Mathematics
     ===================== */
.tiptap.ProseMirror {
  .Tiptap-mathematics-editor {
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    border: 1px solid var(--primary);
    font-family: monospace;
    font-size: 0.875rem;
  }

  .dark & .Tiptap-mathematics-editor {
    border: 1px solid var(--primary);
  }

  .Tiptap-mathematics-render {
    padding: 0 0.25rem;
  }

  .Tiptap-mathematics-render--editable {
    cursor: pointer;
    transition: background 0.2s;
  }

  .Tiptap-mathematics-render--editable:hover {
    background: color-mix(in srgb, var(--muted) 50%);
  }

  .dark & .Tiptap-mathematics-render--editable:hover {
    background: color-mix(in srgb, var(--muted) 50%);
  }

  .Tiptap-mathematics-editor,
  .Tiptap-mathematics-render {
    border-radius: 0.25rem;
    display: inline-block;
  }
}
