/* =====================
     BLOCKQUOTE
     ===================== */
.tiptap.ProseMirror {
  blockquote {
    position: relative;
    padding-left: 1em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    margin: 1.5rem 0;
  }

  blockquote p {
    margin-top: 0;
  }

  blockquote::before,
  blockquote.is-empty::before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.25em;
    background-color: oklch(var(--muted-foreground));
    content: "";
    border-radius: 0;
  }

  .dark & blockquote::before,
  .dark & blockquote.is-empty::before {
    background-color: oklch(var(--muted-foreground));
  }
}
